.note-form {
  input[type=text], textarea {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    display: block;
    margin: 1em auto 0;
    width: 50%;
  }

  textarea {
    font-size: 24px;
    height: 100px;
    resize: none;
  }

  button {
    font-family: 'Comfortaa', cursive;
    background: #bc94e4;
    height: 3em;
    width: 8em;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
    transition: all, .3s;
    cursor: pointer;
    outline: none;
  }

  button:hover {
    background: #b082df;
  }
  
  button:active {
    border: 2px solid black;
    background: #dfbfff;
    color: #f6ebff;
  }
}