$backgroundColor : #7fd87f;

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;

  .main-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}

.heading{
  text-align: center;
}

.exit{
  height: 5em;
  width: 10em;
  font-weight: bold;
}
