$backgroundColor : green;

.modal{
  position: fixed;
  top: 0;
  left:auto;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}
