body {
  font-family: papyrus;
  text-align: center;
  margin: 0 auto;
  background: rgb(183, 255, 233);
}

nav {
  li {
    display: inline-block;
  }
  a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

main {
  border: 3px solid rgb(231, 126, 140);
  border-radius: 20px;
  width: 450px;
  margin: 0 auto;
}

div {
  margin-top: 25px;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

h2 {
  margin-top: 10px;
}

h4 {
  font-size: 20px;
}

input {
  margin: 5px 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.submit-button {
  margin-bottom: 15px;
}

.note-item {
  border: 1px solid rgb(231, 126, 140);
  border-radius: 20px;
  width: 375px;
  margin: 0 auto;
  margin-bottom: 10px;
}