

.app {
	position: relative;
	top: 30%;
	left: 30%;
}

.modal {
	position: fixed;
	width: 400px;
	height: 300px;
	padding:10px;
	border:solid 2px #444;
	border-radius:10px;
	left: 50%;
	top: 50%; 
	margin-left: -210px;
	margin-top: -150px;
	background: cornflowerblue;

	.modal-main {
		position: fixed;
		background-color:#fff;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.close-button {
	position: absolute;
	top: 94%;
	left: 50%;

}