/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: helvetica;
}

ol, ul {
  list-style: none;
}

p {
  font-size: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

@import url('https://fonts.googleapis.com/css?family=Lobster');

/* Styles */

// Header / navbar

#title {
  font-weight: bolder;
  font-family: 'Lobster';
  font-size: 80px;
  text-align: center;
  padding: 10px;
  color: #691A99;
}


#navbar {
  text-align: center;
}

.navitem {
  font-size: 30px;
  text-decoration: none;
  margin: 3em 3em 3em 3em;
  font-weight: bolder;
}

.navbutton {
  background-color: #68EFAD;
  border-radius: 5px;
  color: #264f3b;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

// Landing

#landing {
  text-align: center;
  p {
    margin: 1em 1em 1em 1em;
  }
}

#hero-img {
  width: 80%;
  height: auto;
}

// Dashboard

    // NoteForm

#noteform {
  text-align: center;
}

#note-title {
  margin-bottom: 1em;
  width: 80%;
  border: solid 0.1em lightgrey;
  padding: 5px;
}

#note-content {
  font-family: helvetica;
  resize: none;
  width: 80%;
  height: 10em;
  border: solid 0.5px lightgrey;
  padding: 5px;
}

    // Form Buttons

.notebuttoncreate {
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  background-color: #7A1EA1;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.notebuttondelete {
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #008975;
  color: white;
  cursor: pointer;
}

// Note List

#notelist {
  margin: 1em;
  text-align: center;
}

// Note Items

#noteitems {
  text-align: center;
  box-shadow: 5px 5px 5px grey;
  margin: 1em auto;
  border: 1px solid lightgrey;
  padding: 2em;
  width: 80%;
  cursor: pointer;
}

#noteitemtitle {
  margin: 1em;
  text-align: left;
  align-items: flex-start;
  word-wrap: break-word;
}

#noteitemcontent {
  margin: 1em;
  text-align: left;
  word-wrap: break-word;
}

#innertitle {
  padding-bottom: 5px;
  font-weight: bolder;
}

#innercontent {
  padding-bottom: 5px;
  font-weight: bolder;
}

// modal

#editing {
  font-weight: bolder;
  padding: 5px;
}

#editingouter {
  margin: 1em;
  text-align: center;
  align-items: flex-start;
  word-wrap: break-word;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}
