.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 69, 69, 0.69);

  .modal-main {
    position: fixed;
    background: #65bde3;
    top: 18.25%;
    left: 10%;
    width: 80%;
    height: 63.5%;
  }

  .close-modal {
    font-family: 'Comfortaa', cursive;    
    position: fixed;
    top: 20%;
    left: 11%;
    border-radius: 50%;
    background-color: white;
    transition: all, .3s;
    outline: none;
    cursor: pointer;    
  }

  .close-modal:hover {
    background: #b082df;
  }

  .close-modal:active {
    border: 2px solid white;
    background: #dfbfff;
    color: #f6ebff;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}