$primary: purple;

body {
  background-color: $primary;
}

.result-map {
  background-color: white;
  border: solid black 3px;
  margin: 5px;
  height: 11em;
}

input {
  // display: block;
}

h3 {
  display: inline-block;
  max-width: 70%;
}

h1{
  color: gold;
}

img {
  height: 10em;
  max-width: 30%;
  float: right;
}

.error {
  border: solid red 5px;
}
